.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 45rpx;
  height: 90rpx;
  line-height: 90rpx;
  text-align: center;
  &>Text {
    display: inline-block;
    // 单行显示省略号
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 40%;
  }
}
